<div class="row entry submit">

  <div class="title">添加</div>
  <hr>

  {{#if isAdding}}
    正在添加 ...
  {{else}}
    <div class="alert alert-info">
      <strong>添加</strong>前请注意:
      <br><br>
      <ul>
        <li>支持 markdown 格式</li>
        <li>使用实时预览区检查输入内容格式和链接工作良好</li>
      </ul>
    </div>

    <form {{action "createEntry" on="submit" }} class="form-horizontal">
      {{#unless session.isAuthenticated}}
        <div class="control-group">
          <label class="control-label" for="inputAuthor">作者</label>
          <div class="controls">
            {{input type="text" value=authorName id="inputAuthor" placeholder="Author"}}
          </div>
        </div>
      {{/unless}}
      <div class="control-group">
        <label class="control-label" for="inputTitle">标题</label>
        <div class="controls">
          {{input type="text" value=title id="inputTitle" placeholder="Title"}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputBody">内容</label>
        <div class="controls">
          {{textarea value=body id="inputBody" placeholder="Content"}}
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          {{input type="submit" value="提交" disabled=fieldsEmpty class="btn"}}
          或
          {{link-to "取消" "entries"}}
        </div>
      </div>
    </form>

    <hr>

    <div class="preview-area">
      {{#if body}}
        {{format-markdown body}}
      {{else}}
        <div class="info-message">
          <b>在上面文本框输入内容,在此次实时预览</b>
        </div>
      {{/if}}
    </div>

  {{/if}}
</div>
