<!DOCTYPE html>
<html>
<head>
  <title>Qian - Community driven place for all things Ember.js</title>
  <meta charset="utf8">
  <meta name="description" content="Community driven place for all things Ember.js">
  <meta name="fragment" content="!">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, feed_index_url(:rss)) %>
</head>
<body>
  <%= yield %>
  <a href="/">
     <img style="position: absolute; top: 0; left: 0; border: 0;" src="/assets/images/getting_rich.png" alt="开始你的财富之旅" />
  </a>
</body>
</html>
